.hero {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

@media (min-width: 768px) {
    .hero {
        padding: 45px 60px;
    }
}

.hero h2 {
    margin: 0;
    font-size: 55px;
    font-weight: 800;
}

.hero h2 span {
    color: #4F84C4;
}

.hero p {
    margin: 30px 0 30px 0;
    font-size: 20px;
    font-weight: 500;
}


.hero a.btn {
    position: relative;
    flex-direction: row;
    display: block;
    padding: 10px 35px;
    margin-top: 50px;

    font-size: 23px;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    background: linear-gradient(#4F84C4, #00539C);
    transition: .5s;
}

.hero a.btn:hover {
    background: linear-gradient(#00539C, #4F84C4);
}

.hero img {
    max-width: 100%;
    max-height: 600px;
    padding: 10px;
}

@media (max-width: 767.98px) {
    .hero img {
        margin-top: 30px;
    }
}
