{% extends 'base.html' %}


{% block title %}Important Links{% endblock %}
{% load static %}

{% block content %}

<h1 class=" text-uppercase" style="font-size: 3.2rem; letter-spacing: 0.3pt; font-weight: bolder; font-family: Verdana, Geneva, Tahoma, sans-serif; margin:50px; padding-top: 20px; text-align: center;"> Important Links </h1>

<ul>
    <li> <a href='https</ul>://www.incometax.gov.in/iec/foportal/'> E-payment of taxes</a></li>
    <li> <a href='https://incometaxindia.gov.in/Pages/tax-services/online-pan-verification.aspx'> Verify Pan (From Name & DOB)</a></li>
    <li> <a href='https://tin.tin.nsdl.com/oltas/refundstatuslogin.html'> Status of Tax Refund</a></li>
    <li> <a href='https://eportal.incometax.gov.in/iec/foservices/#/pre-login/itrStatus'> ITR-V Receipt Status</a></li>
    <li> <a href='https://www.tdscpc.gov.in/app/tapn/tdstcscredit.xhtml'> Verify Form 16A</a></li>
    <li> <a href='https://tin.tin.nsdl.com/oltas/index.html'> OLTAS Challan Status</a></li>
    <li> <a href='https://www.cbic.gov.in/'> E-payment of Service Tax/Excise</a></li>
    <li> <a href='https://echallan.parivahan.gov.in/index/accused-challan'> Know Challan Status</a></li>
    <li> <a href='https://www.shcilestamp.com/eStampIndia/VerifyCertificate.es?rDoAction=VerifyCert'> E-Stamping - Verify Certificate</a></li>
    <li> <a href='https://doris.delhigovt.nic.in/'> Property Registration (DELHI)</a></li>
    <li> <a href='https://mcdonline.nic.in/rbdedmc/web/citizen/info'> E-filing of Copyright Application</a></li>
    <li> <a href='https://labourcis.nic.in/'> Online shops and establishments registration (Delhi)</a></li>
</ul>
{% endblock %}