<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create/Update Post</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container mt-5">
        <h1 class=" text-uppercase" style="font-size: 3.2rem; letter-spacing: 0.3pt; font-weight: bolder; font-family: Verdana, Geneva, Tahoma, sans-serif; margin:80px; padding-top: 40px; text-align: center;">{% if form.instance.pk %}Update{% else %}Create{% endif %} Post </h1>


        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="form-label" for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                {{ form.title }}
            </div>
            <div class="form-group">
                <label class="form-label" for="{{ form.content.id_for_label }}">{{ form.content.label }}</label>
                {{ form.content }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</body>
</html>
