{% extends 'base.html' %}

{% block title %}{{ object.title }}{% endblock %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

{% block content %}
<div class="container mt-5">
    <div class="card" style="margin-bottom: 13rem;">
        <div class="card-header bg-primary text-white">
            <h2 class="card-title" style="color: aliceblue; font-size: 2.3em">{{ object.title }}</h2>
        </div>
        <div class="card-body" style="max-height: 600px; overflow-y: auto;">
            <p class="card-text">
                <small class="text-muted">Created at {{ object.created_at }}</small>
            </p>
            <p class="card-text" style="font-size: 1.2em;">
                {{ object.content }}
            </p>
        </div>
        <div class="card-footer">
            <a href="{% url 'post_list' %}" class="btn btn-secondary">Back to blog</a>
        </div>
    </div>
</div>
{% endblock %}
