{% extends 'base.html' %}

{% block title %}Services{% endblock %}
{% load static %}

{% block content %}



    <div class="service-row" id = "ITC">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 d-md-none d-block">
                    <div class="service-row-img">
                        <img src="img/service-1.png" alt="Service">
                    </div>
                </div>
                <div class="col-md-6" >
                    <div class="service-row-text">
                        <h2 class="section-title">Income Tax & Consultancy</h2>


                              <ul>
                                <li> Preparation of Income Tax Return </li>
                                <li> Rectification of Proposed Adjustments in Income Tax Returns </li>
                                <li> Faceless Assessment (Scrutiny) of Tax Returns and Penalty Proceedings </li>
                                <li> Specified Financial Transactions (Form 61A, Form 61B) </li>
                                <li> Form 10B Audit in case of NGO, 10BB Audit </li>
                                <li> Tax Evasion Petitions, CPGRAMS, raising grievances for long pending matters </li>
                                <li> Quarterly Statement in Form15CC (Rule 37BB) </li>
                                <li> Lower or No TDS Deduction Certificate related consultancy </li>
                                <li> Income tax Appeals before Income Tax Appellate Tribunal (ITAT) </li>
                                <li> Survey, Search & Seizer Consultancy </li>
                                <li> Appearance before Investigation Wing of Income Tax Department (Section 153A to 153C cases) </li>
                                <li> Appearance before Central Board of Direct Taxes (CBDT) and before Ministry of Finance </li>
                              </ul>


                    </div>
                </div>
                <div class="col-md-6 d-md-block d-none">
                    <div class="service-row-img">
                        <img src="{% static 'images/incomeT.png' %}" alt="Service">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service Row End -->


    <!-- Service Row Start -->
    <div class="service-row" id = "GST">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="service-row-img">
                        <img src="{% static 'images/gstService.png' %}" alt="Service">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-row-text">
                        <h2 class="section-title">Goods and Services Tax (GST)</h2>
                        <ul>
                          <li> GST Registration for new Assessee </li>
                          <li> Filing of monthly, quarterly and Annual GST returns </li>
                          <li> Assistance in deposit of GST to electronic cash ledger </li>
                          <li> Consultancy on GST on regular basis </li>
                          <li> Refund of GST from GST Department </li>
                          <li> Bond and Letter of Undertaking (LUT) related work for Exporters </li>
                          <li> Assisting in Internal Audit by GST Department </li>
                          <li> Assisting and Representation in Show Cause Notice issued by Superintendent, GST Audit Department </li>
                          <li> Search Cases under GST </li>
                          <li> Contract review from GST perspective </li>
                          <li> Representation before relevant authority for GST appeal i.e. Commissioner, CESTAT </li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service Row End -->


    <!-- Service Row Start -->
    <div class="service-row" id = "CLMC">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 d-md-none d-block">
                    <div class="service-row-img">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-row-text">
                        <h2 class="section-title">Company Law Matters Consultancy</h2>


                              <ul>
                                <li> Formation of company in India, viz. Private Limited, Public Limited, wholly owned subsidiary company, One Person Company (OPC), Limited Liability Partnership (LLP), etc. </li>
                                <li> All matters related with Registrar of Companies (ROC), Regional Director (RD) & National Company Law Tribunal (NCLT) </li>
                                <li> Maintenance & compliance of Statutory Recordss </li>
                                <li> Merger & acquisitions </li>
                                <li> Corporate restructuring </li>
                                <li> Valuation of Equity Shares </li>
                                <li> XBRL filings </li>
                                <li> Consultancy in above matters </li>
                              </ul>


                    </div>
                </div>
                <div class="col-md-6 d-md-block d-none">
                    <div class="service-row-img">
                        <img src="{% static 'images/consLaw.png' %}" alt="Service">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service Row End -->
    <!-- Service Row Start -->
    <div class="service-row" id = "IE">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="service-row-img">
                        <img src="{% static 'images/impexp.png' %}" alt="Service">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-row-text">
                        <h2 class="section-title">Import Export </h2>
                        <ul>
                          <li> Import Export Code Number </li>
                          <li> STPI (Software Technology Park of India) matters </li>
                          <li> SEZ (Special Economic Zone) matters </li>
                          <li> Membership with Export promotion council </li>
                          <li> Import-Export Consultancy & Documentation </li>
                          <li> Import License related matters </li>


                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service Row End -->
    <!-- Service Row Start -->
    <div class="service-row" id="SS">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 d-md-none d-block">
                    <div class="service-row-img">
                        <img src="{% static 'images/audit.png' %}" alt="Service">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-row-text">
                        <h2 class="section-title">Startup Services</h2>


                              <ul>
                                <li> Assistance in identifying the right business structure </li>
                                <li> Obtaining Business licenses </li>
                                <li> Incorporation of Company and LLP (Limited Liability Partnership) </li>
                                <li> Setting up Policies and Procedures </li>
                                <li> Book Keeping & Accountancy Services </li>
                                <li> GST Compliances </li>
                                <li> TDS Compliances  </li>
                                <li> Preparation and Filing of Income Tax Return </li>
                                <li> Audit support and preparation </li>
                              </ul>


                    </div>
                </div>
                <div class="col-md-6 d-md-block d-none">
                    <div class="service-row-img">
                        <img src="{% static 'images/startupService.png' %}" alt="Service">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service Row End -->

                <!-- Service Row Start -->
                <div class="service-row" id = "F">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="service-row-img">
                                    <img src="{% static 'images/fin.png' %}" alt="Service">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="service-row-text">
                                    <h2 class="section-title">Finance </h2>
                                    <ul>
                                      <li> Preparation of project report </li>
                                      <li> Preparation of CMA Data </li>
                                      <li> Loan arrangement- Cash credit limit, Term loan & Project loan </li>
                                      <li> Due diligence for finance </li>
                                      <li> Valuation of Business </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Service Row End -->
                <!-- Service Row Start -->
                <div class="service-row" id = "DDS">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-6 d-md-none d-block">
                                <div class="service-row-img">
                                    <img src="{% static 'images/duedil.png' %}" alt="Service">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="service-row-text">
                                    <h2 class="section-title">Due diligence services</h2>


                                          <ul>
                                            <li> Financial Due Diligence </li>
                                            <li> Legal Due Diligence </li>
                                            <li> Taxes Due Diligence </li>
                                            <li> Asset Purchase Due Diligence </li>
                                            <li> Management Due Diligence </li>
                                            <li> Administrative Due Diligence  </li>
                                            <li> Commercial Due Diligence  </li>
                                            <li> Micro-environmental Due Diligence</li>
                                            <li> Human Resources Due Diligence </li>
                                          </ul>


                                </div>
                            </div>
                            <div class="col-md-6 d-md-block d-none">
                                <div class="service-row-img">
                                    <img src="{% static 'images/duedil.png' %}" alt="Service">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Service Row End -->
                <!-- Service Row Start -->
                <div class="service-row" id = "AAA">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="service-row-img">
                                    <img src="{% static 'images/auditandass.png' %}" alt="Service">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="service-row-text">
                                    <h2 class="section-title">Audit and assurance</h2>
                                    <ul>
                                      <li> Statutory Audit </li>
                                      <li> Internal Audit </li>
                                      <li> Internal Financial Control (IFC) over financial reporting Audit </li>
                                      <li> Bank Concurrent Audit </li>
                                      <li> Bank Statutory Audit</li>
                                      <li> Transfer Pricing Audit u/s 92 E</li>
                                      <li> GST Audit </li>
                                      <li> Form 10B Audit in case of NGO </li>
                                      <li> Forensic Audit </li>
                                      <li> Audit of Form 15CB of Income Tax Act and Issue Form 15CA</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Service Row End -->
                <!-- Service Row Start -->
                <div class="service-row" id = "A">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-6 d-md-none d-block">
                                <div class="service-row-img">
                                    <img src="{% static 'images/audit.png' %}" alt="Service">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="service-row-text">
                                    <h2 class="section-title">Accounting</h2>


                                          <ul>
                                            <li> Book Keeping and Accounting for Individuals, Firms, NGOs and Companies including foreign Companiesence </li>
                                            <li> Design, implementation and review of accounting manual </li>
                                            <li> Advice on various Accounting Standards, Ind AS & IFRS </li>


                                </div>
                            </div>
                            <div class="col-md-6 d-md-block d-none">
                                <div class="service-row-img">
                                    <img src="{% static 'images/acc.png' %}" alt="Service">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Service Row End -->
                <!-- Service Row Start -->
                <div class="service-row" id = "FEMA">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="service-row-img">
                                    <img src="{% static 'images/forex.png' %}" alt="Service">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="service-row-text">
                                    <h2 class="section-title">Foreign exchange management act</h2>
                                    <ul >
                                      <li> Appear before Enforcement Directorate </li>
                                      <li> Assist the taxpayer and individuals in summons issued from ED </li>
                                      <li> Assist the taxpayer/ individuals in prosecution, penalty and compounding of offences </li>
                                      <li> Appear before Adjudicating Authorities and Appellate Tribunal </li>
                                      <li> Assist the taxpayer in compliances to summons issued, searches and seizures etc.</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Service Row End -->
                <!-- Service Row Start -->
                <div class="service-row" id = "NGO">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-6 d-md-none d-block">
                                <div class="service-row-img">
                                    <img src="img/audit.png" alt="Service">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="service-row-text">
                                    <h2 class="section-title">Socities and Trusts (NGO)</h2>


                                          <ul>
                                            <li> Formation of Society, Trust & Section 8 Company </li>
                                            <li> Fresh Registration U/s 12A/ 12AA/ 12AB (Form 10AC) and U/s 80G (Form 10AC) of Income Tax Act </li>
                                            <li>Provisional Registration U/s 12AB (Form 10AC) and U/s 80G (Form 10AC) of Income Tax Act</li>
                                            <li> Registration under Foreign Contribution Regulation Act (FCRA) </li>
                                            <li> Filing of Returns under Foreign Contribution Regulation Act (FCRA) </li>
                                            <li>Issue of certificate of compliance of CSR Funds</li>
                                            <li>Assisting NGOs in filing Form 10BD – Statement of donations</li>
                                            <li> Assisting NGOs in issuing Form 10BE – Certificate of donation to the donors</li>
                                            <li> Compliances with ROC for CSR Activities) </li>
                                            <li>Donor Audit of NGO</li>



                                </div>
                            </div>
                            <div class="col-md-6 d-md-block d-none">
                                <div class="service-row-img">
                                    <img src="{% static 'images/soc.png' %}" alt="Service">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Service Row End -->
                <!-- Service Row Start -->
                <div class="service-row" id = "BPO">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="service-row-img">
                                    <img src="{% static 'images/bposervice.png' %}" alt="Service">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="service-row-text">
                                    <h2 class="section-title">Business Process Outsouce (BPO)</h2>
                                    <ul>
                                      <li> Book-keeping for clients located at USA, UK, Canada, Australia & other countries </li>
                                      <li> Pay roll processing </li>
                                      <li> Bank reconciliation statement </li>
                                      <li> Accounts Receivables and Payables reconciliation </li>
                                      <li> HR Services</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Service Row End -->
                {% endblock %}
