{% load static %}
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="https://www.facebook.com/bandbtax" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/VERMABB" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.youtube.com/@bbtax9577" class="me-4 text-reset">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.linkedin.com/in/binod-verma-b56a5a264/" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Binod Verma & Co.
            </h6>
            <p>
                Discover expert chartered accountancy services at Binod Verma & Co. in Laxmi Nagar, Delhi. From auditing and tax consultation to GST solutions, we offer professional guidance for businesses and individuals. Trust us for comprehensive financial solutions and expert advice tailored to your needs.
            </p>
          </div>
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Quick Links
            </h6>


            <p>
                <a href="{% url 'tool_kit_home' %}" class="text-reset">Services</a>
            </p>
            <p>
                <a href="{% url 'post_list' %}" class="text-reset">Blog</a>
            </p>
            <p>
                <a href="{% url 'contact' %}" class="text-reset">Contact</a>
            </p>
            <p>
                <a href="{% url 'imp_links_home' %}" class="text-reset"z>   Links</a>
            <p>
                <a href="{% url 'resource_list' %}" class="text-reset">Resources</a>
            </p>
          </div>
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Tools
            </h6>

            <p>
                <a href="https://incometaxindia.gov.in/Pages/tools/tax-calculator.aspx" class="text-reset">Tax Calculator </a>
            </p>
            <p>
                <a href="https://incometaxindia.gov.in/Pages/tools/advance-tax-calculator.aspx" class="text-reset">Advance Tax Calculator</a>
            </p>
            <p>
                <a href="https://incometaxindia.gov.in/Pages/tools/income-tax-calculator-234ABC.aspx" class="text-reset">Income Tax Calculator</a>
            </p>
            <p>
                <a href="https://incometaxindia.gov.in/Pages/tools/transport-allowance-calculator.aspx" class="text-reset">Transport Allowance Calculator</a>
            </p>
            <p>
                <a href="https://incometaxindia.gov.in/Pages/tools/tds-calculator.aspx" class="text-reset">TDS Calculator</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
                <a href="https://doe.gov.in/" class="text-reset">Department of Expenditure</a>
            </p>
            <p>
                <a href="https://www.epfindia.gov.in/site_en/index.php" class="text-reset">Employees Provident Fund</a>
            </p>
            <p>
                <a href="https://www.mca.gov.in/content/mca/global/en/home.html" class="text-reset">Ministry of Company Affairs</a>
            </p>
            <p>
                <a href="https://incometaxindia.gov.in/tutorials/3%20e-payment%20of%20direct%20taxes.pdf" class="text-reset">E-payment of direct tax</a>
            </p>
            <p>
                <a href="https://incometaxindia.gov.in/Pages/deadline.aspx" class="text-reset">Tax Calender</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> D-29, OFFICE NO-206, Laxmi Nagar, Delhi 110092</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              accounts@binodverma.com
            </p>
            <p><i class="fas fa-phone me-3"></i> 011 4022 4920</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-reset fw-bold" href="https://binodverma.com/">binodverma&co</a>
    </div>
    <!-- Copyright -->
  </footer>