
{% load static %}
<link rel="stylesheet"  type="text/css" href="{% static 'css/service.css' %}">


<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <!-- <h5 class="text-primary text-uppercase" style="letter-spacing: 5px;">Services</h5> -->
            <h1 class=" text-uppercase" style="font-size: 3.2rem; letter-spacing: 0.3pt; font-weight: bolder; font-family: Verdana, Geneva, Tahoma, sans-serif;">Services </h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                    <div class="position-relative p-5">
                        <i class="flaticon-cctv d-block display-1 fw-normal text-secondary mb-3"></i>
                        <h5 class="text-primary mb-0">Audit </h5>
                        <h3 class="mb-3">& Assurances</h3>
                        <p> We offer statutory, internal, IFC, bank, transfer pricing, GST, NGO, forensic audits, and audits for Forms 10B, 15CB, and 15CA.</p>
                        <!-- <a href="">Read More<i class="bi bi-arrow-right ms-2"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                    <div class="position-relative p-5">
                        <i class="flaticon-surveillance d-block display-1 fw-normal text-secondary mb-3"></i>
                        <h5 class="text-primary mb-0">Income Tax </h5>
                        <h3 class="mb-3">Consultancy</h3>
                        <p>Preparation and rectification of tax returns, faceless assessments, and audit support. Assistance with tax appeals, investigations, and representation before tax authorities.</p>
                        <!-- <a href="">Read More<i class="bi bi-arrow-right ms-2"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                    <div class="position-relative p-5">
                        <i class="flaticon-camera d-block display-1 fw-normal text-secondary mb-3"></i>
                        <h5 class="text-primary mb-0">Goods & Services Tax </h5>
                        <h3 class="mb-3">GST</h3>
                        <p>GST services include registration, filing returns, GST consultancy, refunds, LUT for exporters, audit assistance, show cause notice representation, and GST appeals. </p>
                        <!-- <a href="">Read More<i class="bi bi-arrow-right ms-2"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                    <div class="position-relative p-5">
                        <i class="flaticon-double d-block display-1 fw-normal text-secondary mb-3"></i>
                        <h5 class="text-primary mb-0">Accounting </h5>
                        <h3 class="mb-3">Services</h3>
                        <p>Providing bookkeeping, accounting for various entities, accounting manual services, and advice on Accounting Standards, Ind AS, and IFRS. </p>
                        <!-- <a href="">Read More<i class="bi bi-arrow-right ms-2"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                    <div class="position-relative p-5">
                        <i class="flaticon-security-system d-block display-1 fw-normal text-secondary mb-3"></i>
                        <h5 class="text-primary mb-0">Finance</h5>
                        <h3 class="mb-3"> Registration</h3>
                        <p>Offering project reports, CMA data, loan arrangements, financial due diligence, and business valuation services. </p>
                        <!-- <a href="">Read More<i class="bi bi-arrow-right ms-2"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                    <div class="position-relative p-5">
                        <i class="flaticon-recorder d-block display-1 fw-normal text-secondary mb-3"></i>
                        <h5 class="text-primary mb-0">Socities & Trusts</h5>
                        <h3 class="mb-3">NGOs</h3>
                        <p>Accept payment on your website or payment link from your customers & get USD in your account. </p>
                        <!-- <a href="">Read More<i class="bi bi-arrow-right ms-2"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>